* {
  margin: 0;
  padding: 0;
}
.node {
  min-width: 100px;
  border-radius: 3px;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  background-color: rgba(207, 205, 205, 0.548);
  border: 2px solid #fff;
  cursor: default;
}
.root-node {
  min-height: 100px;
  left: 50px;
  top: 300px;
  background-color: blue;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.second-node {
  font-size: 14px;
  font-weight: 700;
}

.select.node {
  border-color: rgb(93, 193, 240);
}
.node-wrap {
  border: 1px solid red;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -98px;
  margin-top: -43px;
}
button {
  width: 60px;
  height: 30px;
  margin: 3px;
}
.root {
  background: rgba(150, 183, 194, 0.4);
}

.children {
  border: 1px solid red;
}