* {
  margin: 0;
  padding: 0;
}
.root-node {
  position: absolute;
  left: 50px;
  top: 300px;
  background-color: red;
}

.node {
  width: 200px;
  height: 100px;
  border-radius: 3px;
  font-size: 12px;
  margin: 10px;
  position: absolute;
  border: 1px solid blue;
}
.select.node {
  border-width: 2px;
}
.node-wrap {
  border: 1px solid red;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -98px;
  margin-top: -43px;
}
button {
  width: 60px;
  height: 30px;
  margin: 3px;
}
.root {
  background: rgba(150, 183, 194, 0.4);
}

.children {
  border: 1px solid red;
}